.App{
  background: rgba(0, 0,0, 0.5) url(https://static.vecteezy.com/system/resources/thumbnails/001/849/553/small_2x/modern-gold-background-free-vector.jpg);
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
}

.secdiv{
  width: 750px;
}